{% extends "base.html" %} {% block title %} - Admininloggning{% endblock %} {%
block custom_head %}
<style>
  .footer div {
    text-align: center;
  }
</style>
{% endblock %} {% block body %}
<div class="content login-content">
  <h1 class="align-center">Tullinge Booking - Admin</h1>

  {% if fail %}
  <div class="alert alert-danger" role="alert">
    <p>{{ fail }}</p>
  </div>
  {% endif %} {% if success %}
  <div class="alert alert-success" role="alert">
    <p>{{ success }}</p>
  </div>
  {% endif %}

  <p class="align-center">Du loggar in med ditt skolkonto.</p>

  <a href="{{ google_signin_url }}" class="btn btn-primary">
    <i class="fab fa-google"></i>
    Logga in med Google
  </a>
</div>
{% endblock %}
