{% extends "base.html" %} {% block title %} - Aktivitetsledare{% endblock %} {%
block custom_head %}{% include "google.html" %}{% endblock %} {% block body %}
{% include "leader/navbar.html" %}
<div class="content">
  <h1>Aktivitetsledare</h1>

  <button onclick="window.print();" class="btn btn-primary no-print">
    Skriv ut
  </button>

  {% for activity in activities %}
  <h2>Elever registrerade på aktivitet {{ activity["name"] }}</h2>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Namn</th>
        <th scope="col">Klass</th>
        <th scope="col">Närvaro</th>
        {% for question in activity["questions"] %}
        <th scope="col">{{ question["question"] }}</th>
        {% endfor %}
        <th scope="col">Åtgärder</th>
      </tr>
    </thead>
    <tbody>
      {% for student in activity["students"] %}
      <tr>
        <th scope="row">{{ student["student"]["id"] }}</th>
        <td>
          {{ student["student"]["first_name"] }} {{
          student["student"]["last_name"] }}
        </td>
        <td>{{ student["class_name"] }}</td>
        <td>
          {% if student["student"]["attendance"] == 1 %}
          <span class="badge badge-success">Närvarande</span>
          {% elif student["student"]["attendance"] == 2 %}
          <span class="badge badge-danger">Frånvarande</span>
          {% else %}
          <span class="badge badge-warning">Ej registrerad</span>
          {% endif %}
        </td>
        {% for answer in student["answers"] %}
        <td>{{ answer }}</td>
        {% endfor %}
        <td>
          {% if student["student"]["attendance"] != 2 %}
          <a href="/leader/attendance/{{ student["student"]["id"] }}/2">
            <button type="submit" class="btn btn-secondary">
              Markera ej närvarande
            </button>
          </a>
          {% endif %} {% if student["student"]["attendance"] != 1 %}
          <a href="/leader/attendance/{{ student["student"]["id"] }}/1">
            <button type="submit" class="btn btn-primary">
              Markera närvarande
            </button>
          </a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endfor %}
  <p>Utskriftsdatum: {{ generation_time }}</p>
</div>
{% endblock %}
